@import 'variables';

@mixin center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin form-input {
  border: none;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: $color-primary;
  border-radius: 8px;
  font-size: 16px;
  height: auto;
  margin: 15px 15px 15px 0px;
  outline: 0;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
}

@mixin form-hidden {
  color: $white;
}

@mixin button-default {
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
}

@mixin grid-item($color) {
  @include button-default;
  background-color: $color;
  text-align: left;
  color: $color-dark-shade;
  @media (min-width: $break-desktop) {
    text-align: center;
  }
}

.container {
  margin: 20px;
}

.nav {
  @media (min-width: $break-desktop) {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__item {
  color: $white;
  background-color: $white;
  text-align: center;
  font: {
    family: Arial;
    size: 20px;
  }
}

.card {
  margin: 20px;
  color: $color-shade;
}

.headline--primary {
  color: $color-primary;
  margin-right: 20px;
}

.headline--secondary {
  font-size: 1.3em;
}

.link {
  color: $color-link;
}

.blockquote {
  font-size: 1.7em;
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: $color-primary;
  padding-left: 15px;
}

.form {
  margin: 20px;
  background-color: $white;
}

.headline--secondary {
  color: $color-shade;
  margin-bottom: 15px;
}

.img--avatar {
  @include center-item;
}

.form__input {
  @include form-input;
}

.form__label--hidden {
  @include form-hidden;
}

.img--frame {
  @include center-item;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color: $color-shade;
  margin-bottom: 15px;
}

.grid__col--3 {
  @include center-item;
}

.grid__col--12 {
  @media (min-width: $break-desktop) {
    display: flex;
    justify-content: space-around;
  }
}

.centered {
  @include center-item;
}

@each $button in $buttons {
  .btn--#{$button} {
    @include button-default;
    margin-bottom: 20px;
    @media (min-width: $break-desktop) {
      width: 160px;
      padding-left: 15px;
      padding-right: 15px;
      flex-basis: auto;
      text-align: center;
    }

    @if $button == 'default' {
      background-color: $color-link;
    } @else if ($button == 'success') {
      background-color: $button-green;
    } @else if ($button == 'error') {
      background-color: $button-pink;
    } @else if ($button == 'warning') {
      background-color: $button-orange;
    } @else if ($button == 'info') {
      background-color: $button-purple;
    }
  }
}

@for $i from 1 through 12 {
  @if ($i == 3) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-purple);
    }
  } @else if ($i == 4) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-link);
    }
  } @else if ($i == 5) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-dark-green);
    }
  } @else if ($i == 6) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-dark-blue);
    }
  } @else if ($i == 7) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($button-pink);
    }
  } @else if ($i == 8) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-dark-orange);
    }
  } @else if ($i == 12) {
    .grid__row .grid__col--#{$i}.theme__colors {
      @include grid-item($color-teal);
      @media (min-width: $break-desktop) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
