// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #55c67e;
$color-shade: #9a9ba2;
$color-dark-shade: #9a9ba2;

$button-green: #5ba25a;
$button-pink: #d26f75;
$button-orange: #d77f1a;
$button-purple: #7955a2;

$color-link: #00d3e8;

$color-teal: #5dec9c;
$color-dark-blue: #1a83ca;
$color-purple: #dc90ec;
$color-dark-green: #1ba72c;
$color-dark-orange: #eb7415;

$break-desktop: 768px;

// list
$buttons: ('default', 'success', 'error', 'warning', 'info');
